.hide{
    display: none;
}

.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}

.active{
    background-color: #FFF;
    display: block;
    z-index: 1000;
}